
.accordion-button::after {
  display: none !important;
}

.accordion-button {
  padding-right: 1rem !important;
}


.avatar-toggle::after {
  display: none !important;
}

.avatar-toggle {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
}

.custom-tabs .nav-link.active {
  border-bottom: 3px solid #0d6efd !important; 
  font-weight: 500;
}
